<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="mpop.revii.ai"
    platformBuildVersionCode="29"
    platformBuildVersionName="10"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:configChanges="keyboard|keyboardHidden|locale|orientation|screenSize"
        android:windowSoftInputMode="adjustResize"
        android:allowBackup="true"
        android:resizeableActivity="true">
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|locale|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Overlay" />
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />
    </application>
</manifest>